DOCKER_REGISTRY=https://hub.docker.com
PYPI_REPOSITORY=https://pypi.python.org/simple
PYPI_REPOSITORY_HOST=https://pypi.python.org/simple
CLICKHOUSE_HOST=clickhouse-node1
CLICKHOUSE_PORT=9000
LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044
SENTRY_DSN=https://7babdac3e77747ec8c48ea2cca559e82@o4504793906216960.ingest.sentry.io/4504793907593216